@font-face {
   font-family: 'Helvetica-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Carlos/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-11_133326/fonts/Helvetica-Bold/font.ttf');
}
